.awards{
  background-color: #f7f7f7;
  padding-top: 40px;
	padding-bottom: 30px;
}
.heading h1{
	font-family: 'poppinsbold';
	color: #333333;
  margin: 50px 0px 20px;
}
.awardImg{
	text-align: right;
}
.awardImg img{
	padding: 0px 5px;
}
.awardImg1{
	width: 125px;
}
.awardImg2{
	width: 138px;
}
.awardImg3{
	width: 155px;
}
.awardImg4{
	width: 135px;
}
@media (max-width: 1135px){
	.heading h1{
		font-size: 35px;
	}
	.awards .col-md-5, .awards .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
	}
	.heading h1 {
    margin: 0px 0px 20px;
	}
}
@media (max-width: 860px){
	.heading h1{
		font-size: 30px;
	}
}
@media (max-width: 582px){
	.awardImg1{
		width: 80px;
	}
	.awardImg2{
		width: 86px;
	}
	.awardImg3{
		width: 95px;
	}
	.awardImg4{
		width: 86px;
	}
}
@media (max-width: 480px){
	.heading h1{
		font-size: 22px;
	}
}