.backImg{
	background-image: url(../../images/Banner.png);
	background-size: cover;
  padding-top: 56.25%;
  position: relative;
}
.backImg:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; 
	background-color: rgba(0,0,0,0.5);
}
.bannerText{
	color: #fff;
	z-index: 100;
  position: absolute;
  left: 0;
  padding: 0 1rem;    
  max-width: 1100px;
  top: calc(50% - 136px);
}
.bannerText h1{
  font-size: 45px;
  font-family: 'poppinsbold';
  line-height: 1.5;
}
.bannerText p{
	font-size: 20px;
}
.bannerText button{
  background-color: #79b831;
  padding: 14px 40px 10px;
  border-radius: 26px;
  border: none;
  color: #fff;
  margin: 15px 0;
  outline: none;
  transition: .3s;
}
.bannerText button:hover{
  background-color: #6a9e2f;
}
@media (max-width: 1224px){
  .bannerText h1{
    font-size: 30px;
  }
  .bannerText p{
    font-size: 16px;    
  }
  .bannerText button{
    padding: 12px 25px 8px;
  }
  .bannerText{
    top: calc(50% - 70px);
  }
}
@media (max-width: 720px){
  .bannerText h1{
    font-size: 20px;
    font-family: 'poppinssemibold';
  }
  .bannerText h1, .bannerText p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .bannerText p, .bannerText button{
    font-size: 14px; 
    font-family: 'poppinsregular';   
  }
  .bannerText button{
    padding: 6px 15px 4px;
    margin: 5px 0;
  }
  .bannerText{
    top: calc(50% - 45px);
    width: 100%;
  }
}
@media (max-width: 480px){
  .bannerText{
    top: calc(50% - 15px);
  }
  .bannerText button{
    font-size: 12px;
    margin: 0;
  }
}