.contactUs h1{
	font-family: 'poppinsbold';
	color: #333333;
	text-align: center;
  padding: 50px 0px 20px;
}
.contactForm{
  padding-top: 20px;
}
.contactUs .form-control{
	border: none;
	border-bottom: 1px solid #707070;
	border-radius: 0;
  padding: 10px 0 20px 45px;
  font-size: 20px;
}
.contactUs .form-control:focus{
	box-shadow: none;
}
.contactUs .form-control:focus::placeholder{
	color: #fff;
}
.contactUs .form-control::placeholder{
	color: #898989;
}
.contactUs .form-control {
	margin-bottom: 30px;
}
.formIcon1{
	background: url(../../images/user-1.png) no-repeat;
}
.formIcon2{
	background: url(../../images/mail.png) no-repeat;
}
.iconCommon.formIcon3{
	background: url(../../images/question-1.png) no-repeat;
	background-size: 35px;
}
.iconCommon{
  margin: 0;
  width: 40px;
  height: 40px;
  display: block;
  background-size: 30px;	
  position: absolute;
}
.contactUs .form-group{
 position: relative;
 margin: 0px 40px;
}
.contactUs textarea.form-control {
  height: 61px;
  resize: none;
}
.contactUs button{
  background-color: #79b831;
  padding: 12px 25px 9px;
  border-radius: 26px;
  border: none;
  color: #fff;
  margin: 35px 40px;
  outline: none;
  transition: .3s;
}
.contactUs button:hover{
  background-color: #6a9e2f;
}
@media (max-width: 991px){
  .contactUs button {
    margin: 0px 40px 35px;
  }
}
@media (max-width: 767px){
  .contactUs h1{
    font-size: 30px;
  }
  .contactUs .form-control{
    font-size: 15px;
  }
  .iconCommon{
    background-size: 25px;
  }
  .contactUs button{
    padding: 8px 16px 5px;
    font-size: 14px;
  }
  .contactUs textarea.form-control {
    height: 53px;
  }
}
@media (max-width: 480px){
  .contactUs h1{
    font-size: 22px;
  }
  .contactUs .form-group {
    margin: 0px 20px;
  }
}