.stepImg{
	width: 100%;
  padding: 50px 0px 40px;
}
.stepCon{
	margin-top: 25px;
}
.stepItem{
	padding: 35px 20px;
	position: relative;
}
.stepItem h1{
	font-family: 'poppinsbold';
	color: #333333;
	margin-top: 15px;
}
.stepItem p{
	color: #888888;
	line-height: 1.9;
}
.stepIcon{
	width: 75px;
  height: 75px;
  display: block;
  background: no-repeat center;
  background-size: 32px;
  background-color: #fff;
  border-radius: 38px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0px 1px 10px 8px #f7f7f7;
  position: absolute;
}
.speaking{
	background-image: url(../../images/speaking.png);
}
.technology{
	background-image: url(../../images/technology.png);
}
.prog{
	background-image: url(../../images/web-programming.png);
}
.stepItem:after{
	content: '';
	display: block;
	border: 1px solid #707070;
	height: 100%;
	width: 0px;
	position: absolute;
	left: 55px;
	top: 60px;
	z-index: -1;
}
.padLeft{
	padding-left: 130px;
}
.stepCon .stepItem:last-child:after{
	display: none;
}
@media (max-width: 1024px){
  .steps .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
	}
	.stepImg {
    text-align: center;
	}
}
@media (max-width: 860px){
  .stepItem h1{
    font-size: 30px;
  }
  .stepItem p{
    font-size: 15px;
  }
}
@media (max-width: 767px){
	.stepImg {
    display: none;
	}
}
@media (max-width: 480px){
  .stepItem h1{
    font-size: 22px;
  }
  .padLeft {
    padding-left: 80px;
	}
	.stepIcon{
		width: 60px;
	  height: 60px;
	  background-size: 25px;
	}
	.stepItem:after{
		left: 48px;
	}
}