.headMargin{
  padding: 50px 0px 30px;
}
.headsCenter{
	display: flex;
	justify-content: center;
  text-align: right;
  position: relative;
  height: 178px;
  align-items: center;
}
.headsCenter h1{
	font-family: 'poppinsbold';
	color: #333333;
	margin-bottom: 0;
	margin:20px 0px;
  background: #fff;
  padding-top: 10px;
  position: relative;
  z-index: 1
}
.headsCenter .after{
	content: '';
  display: block;
  border: 18px solid #f2f2f2;
  width: 330px;
  height: 178px;
  position: absolute;
  top: 0px;
  left: calc(50% - -10px);
}

@media (max-width: 860px){
  .headsCenter .after{
    border: 14px solid #f2f2f2;
    width: 220px;
    height: 130px;
  }
  .headsCenter{
    height: 130px;
  }
  .headsCenter h1{
    font-size: 30px;
  }
}
@media (max-width: 767px){
  .headsCenter .after{
    display: none;
  }
  .headMargin {
    padding: 0;
    padding-top: 10px; 
  }

}
@media (max-width: 480px){
  .headsCenter h1{
    font-size: 22px;
  }
  .headsCenter{
    height: 60px;
  }
}