.center{
  display: flex;
  align-items: center;
}
.ideaContent p{
  color: #9f9f9f;
  line-height: 1.9;
  font-size: 18px;
}
.ideaContent button{
  background-color: #79b831;
  padding: 12px 25px 9px;
  border-radius: 26px;
  border: none;
  color: #fff;
  margin: 15px 0;
  outline: none;
  transition: .3s;
}
.ideaContent button:hover{
  background-color: #6a9e2f;
}
.marginTop{
  margin-top: 20px;
  margin-bottom: 20px;
}
.marginBottom{
  margin-bottom: 20px;
}

@media (max-width: 860px){
  .ideaContent p{
    font-size: 15px;
  }
  .ideaContent button{
    padding: 8px 16px 5px;
    border-radius: 26px;
    margin: 5px 0;
    font-size: 14px;
  }
}
