.services{
	background-color: #f7f7f7;
}
.services h4{
	font-family: 'poppinsbold';
	color: #333333;
	font-size: 22px;
}
.services p{
  color: #9f9f9f;
  line-height: 1.8;
  font-size: 16px;
}
.content{
	padding: 20px 0px;
}
.boxes{
	padding: 15px 30px;
  text-align: center;
}
.icon{
  width: 85px;
  height: 85px;
  display: block;
  background: no-repeat center;
  background-size: 50px;
  background-color: #fff;
  border-radius: 43px;
  margin: auto;
  margin-bottom: 30px;
}
.icon.iconimg1{
	background-image: url('../../images/ux-6.png');
}
.icon.iconimg2{
	background-image: url('../../images/react-1.png');
}
.icon.iconimg3{
	background-image: url('../../images/php.png');
}
.icon.iconimg4{
	background-image: url('../../images/Mobile.png');
	background-size: 35px;
}
.icon.iconimg5{
	background-image: url('../../images/rocket.png');
}
.icon.iconimg6{
	background-image: url('../../images/api.png');
}
.bgColor{
	padding: 10px;
	transition: .3s;
}
.bgColor:hover{
	background: #fff;
  border-radius: 85px 0px;
  
}
.bgColor:hover .icon{
	background-color: #f7f7f7;
}

@media (max-width: 480px){
	.services h4 {
    font-size: 18px;
	}
	.services p {
		font-size: 14px;
	}
}