.testimonial{
	background-color: #f7f7f7;
	position: relative;
}
.testimonial .owl-theme .owl-dots .owl-dot span {
	display: none;
}
.testimonial .owl-carousel .owl-nav button.owl-prev,.testimonial .owl-carousel .owl-nav button.owl-next{
	position: absolute;
	top: calc(50% - 63px);
  font-size: 0;
  width: 35px;
  height: 50px;
  background: no-repeat center;
  background-size: 22px;
  outline: none;
}
.testimonial .owl-carousel .owl-nav button.owl-prev{
	background-image: url(../../images/previous.png);
	left: -150px;
}
.testimonial .owl-carousel .owl-nav button.owl-next{
	background-image: url(../../images/next-3.png);
	right: -150px;
}
.testimonial .owl-carousel.owl-drag .owl-item {
	text-align: center;
}
.testimonial .sliderCon{
	max-width: 1000px;
	margin: auto;
}
.itemContent{
  background: #fff;
  border-bottom: 4px solid #7EC31B;
  position: relative;
  margin: 30px 15px 50px;
}
.itemContent p{
	color: #808080;
	line-height: 1.9;
  font-size: 16px;
  text-align: left;
  padding:50px 20px 0px 100px;
}
.itemContent:before{
	content: '';
	background: url(../../images/quote-1.png) no-repeat center;
	width: 70px;
	height: 70px;
	display: block;
	background-size: 65px;
	position: absolute;
	top: 5px;
  left: 15px;
}
.user{
	overflow: auto;
  padding: 20px 30px 40px;

}
.userImg{
	width: 65px;
  height: 65px;
  float: left;
  border-radius: 33px;
  overflow: hidden;
}
.userDetail{
  float: left;
  text-align: left;
  padding-left: 15px;
  margin-top: 8px;	
  width: calc(100% - 65px);
}
.userDetail p{
	font-size: 14px;
	color: #808080;
	padding: 0;
}
.userDetail h6{
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  margin-top: 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.userProfile{
	width: calc(100% - 110px);
  overflow: auto;
  float: left;
}
.rating{
  width: 110px;
	float: right;
  margin-top: 20px;
}
.star{
	padding: 0px 2px;
	width: 22px;
	display: inline-block;
}
.rating .fa-2x{
  font-size: 1.1em;
  color: #f8c246;
  padding: 0px 1px;
}
@media (max-width: 1287px){
  .testimonial .owl-carousel .owl-nav button.owl-prev{
    left: -50px;
  }
  .testimonial .owl-carousel .owl-nav button.owl-next{
    right: -50px;
  }
}
@media (max-width: 1024px){
  .sliderCon{
    padding: 0 50px;
  }
}
@media (max-width: 640px){
  .itemContent:before{
    width: 50px;
    height: 50px;
    background-size: 45px;
    top: 28px;
    left: 35px;
  } 
}
@media (max-width: 480px){
  .itemContent:before{
    display: none;
  }
  .itemContent p{
    font-size: 14px;
    padding:30px 20px 0px 40px;
  }
  .userProfile{
    width: 100%;  
  }
  .userDetail{
    margin-top: -4px;
  }
  .userDetail p{
    padding: 0;
    font-size: 12px;
  }
  .testimonial .owl-carousel .owl-nav button.owl-prev,.testimonial .owl-carousel .owl-nav button.owl-next{
    width: 13px;
    background-size: 12px;
  }
  .sliderCon {
    padding: 0 22px;
  }
  .testimonial .owl-carousel .owl-nav button.owl-prev{
    left: -15px;
  }
  .testimonial .owl-carousel .owl-nav button.owl-next{
    right: -15px;
  }
  .rating {
    float: left;
    margin-top: -18px;
    margin-left: 77px;
    text-align: left;
  }
  .user {
    padding: 0px 30px 15px;
  }
  .rating .fa-2x{
    font-size: 0.8em;
  }
}