.comingSoon{
	background-image: url("/images/Banner.png");
  background-position: center;
	padding-top: 56.25%;
  background-size: cover;
  position: relative;
}
.comingSoon:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; 
	background-color: rgba(0,0,0,0.5);
}
.box{
	position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 308px);
  color: #fff;
  border-top: 3px solid #79b831;
  padding: 70px;
  z-index: 100;
}
.box h1{
	font-size: 70px;
}
.box p{
  font-size: 18px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  border-bottom: 3px solid #79b831;
  padding-bottom: 60px;
}