.cNavbar{
	position: absolute;
	width: 100%;
	z-index: 1000;
}
.color{
	color: #fff;
}
.cNavbar a:hover{
	text-decoration: none;
}
.navLi{
	padding: 20px 10px;
	font-size: 18px;
}
.cNavbar .navbar-expand-md .navbar-nav .nav-link{
	font-family:'poppinsregular';
}
.cNavbar .navbar-expand-md .navbar-nav .nav-link.button{
	background-color: #79b831;
  padding: 8px 40px 4px;
  border-radius: 26px;
}
.cNavbar .navbar-nav .nav-link:hover{
	color: #d4d4d4;
  transition: all .5s ease-in-out 0s;
}
.cNavbar .navbar-expand-md .navbar-nav .nav-link.button:hover{
	background-color: #6a9e2f;
	color: #fff;
}
.cNavbar .navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}
.navbar-brand.logo{
	width: 220px;
	padding-top: 20px;
}
.cNavbar .navbar-dark .navbar-toggler {
	border: none;
}
.cNavbar .navbar-toggler:focus{
  outline: none;
}
.cNavbar .navbar-nav{
	right: -200px;
}
@media (min-width: 767px){
	.removeIcon{
		display: none;
	}
}	
@media (max-width: 1126px ){
	.navLi{
		padding: 20px 2px;
		font-size: 15px;
	}
	.navbar-brand.logo{
		width: 180px;
	}
}
@media (max-width: 827px ){
	.navLi{
		padding: 20px 0px;
		font-size: 13px;
	}
}
@media (max-width: 767px ){
	.navLi{
		padding: 0px;
		font-size: 15px;
	}
	.cNavbar .navbar-expand-md .navbar-nav .nav-link.button {
    display: inline-block;
	}
	.navbar-brand.logo{
		width: 150px;
	}
	.cNavbar .navbar-nav{
		width: 200px;
		text-align: left;
	  background-color: rgba(0,0,0,0.8);
	  position: fixed;
	  top: 0;
	  height: 100%;
	  margin: 0;
	  display: block;
	  padding: 30px 20px 10px;
	  transition: all linear 0.2s 0s;
	  right: -200px;
	}
	.cNavbar .show .navbar-nav{
		right: 0
	}
	.removeIcon{
		position: absolute;
	  right: 185px;
	  top: 0px;
	  font-size: 22px;
	  color: #fff;
	  background-color: rgba(0,0,0,0.8);
	  width: 30px;
	  height: 30px;
	  text-align: center;
	  border-radius: 15px;
	  z-index: 100;
	}
}
    