.textColor{
	color: #fff;
	background-color: #79b831;
  padding: 70px 0px;
}
.links ul{
	list-style-type: none;
  margin-left: 0;
}
.links a{
	color: #fff;
}
.links a:hover,.boxIcons a:hover {
	color: #d4d4d4;
  transition: .5s;
  text-decoration: none;
 }
.links li{
  line-height: 1;
 }
 .textColor p{
  margin-right: 60px;
 }
.textColor p, .links a{
  font-size: 16px;
}
.textColor h3{
	font-family: 'poppinsbold';
  margin-bottom: 30px;
  font-size: 26px;
}
.boxIcons a{
	padding: 0 6px;
  font-size: 25px;
  color: #fff;
}

@media (max-width: 767px){
  .textColor {
    padding: 30px 0px;
  }
  .textColor h3{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
  }
  .textColor p, .links a {
    font-size: 14px;
  }
  .links li{
    line-height: 0.8;
   }
}

